<link rel="stylesheet" href="/css/style.css">

<div class="nav">
    <div class="nav-header">
        <div class="nav-left">
            <a href="/" class="nav-link">Home</a>
        </div>
        <div class="nav-center">
            <h1><a href="/" class="nav-link" id="wandrlst">WANDRLST</a></h1>
        </div>
        <div class="nav-right">
            <a href="/articles" class="nav-link">Articles</a>
            <a href="/photos" class="nav-link">Photos</a>
                <% if(isLogged) { %>
                    <div class="login">
                        <a href="#" id="greeting" class="nav-link">Hello <%=username%></a>
                        <a href="/auth/logout" class="nav-link">logout</a>
                    </div>
                <% } else {%> 
                    <div class="login">                    
                        <a href="/signup" class="nav-link">signup</a>
                        <a href="/login" class="nav-link">login</a>
                    </div>
                <% } %>
 
            <div class="hamburger-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
            </div>    
        </div>
    </div>
    <div class="overlay">
        <div class="overlay-content">
            <a href="/articles" class="overlay-link">Articles</a>
            <a href="/photos" class="overlay-link">Photos</a>
            <div class="overlay-login">
                <% if(isLogged) { %>
                    <a href="/auth/logout" class="overlay-link">Logout</a>
                <% } else {%>                    
                    <a href="/signup" class="overlay-link">Signup</a>
                    <br>
                    <a href="/login" class="overlay-link">Login</a>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        const hamburgerMenu = document.querySelector('.hamburger-menu')
        const overlay = document.querySelector('.overlay')
        hamburgerMenu.addEventListener('click', (e) => {
            e.currentTarget.classList.toggle('open')
            overlay.classList.toggle('show')
        })
    </script>

</div>