<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Photo</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <header>
    </header>
    <main class="container">
      <div class="author">
        <h3>New Photo</h3>
        <form action="/photos" method="POST">
          <input type="text" name="img" placeholder="URL"/>
          <br>
          <br>
          <input type="text" name="location" placeholder="Location"/>
          <br>
          <br>
          <textarea type="text" name="caption" placeholder="caption"></textarea>
          <br>
          <button type="submit">Add Photo</button>
        </form>
      </div>
    </main>
  </body>
</html>