<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Photo</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <header>
      <h1>Photos</h1>

    </header>
    <main>
      <form action="/photos" method="POST">
        <input type="text" name="img" placeholder="URL"/>
        <br>
        <br>
        <input type="text" name="location" placeholder="Location"/>
        <br>
        <br>
        <input type="text" name="caption" placeholder="caption"/>
        <br>
        <button type="submit">Create Article</button>
      </form>
    </main>
    <aside>
        my photos
    </aside>
    </body>
</html>