<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%- include('./partials/navbar.ejs') %>
    <header>
      <h1>Travel Blog</h1>
      
      <div>
        <a href="/signup">sign up</a>
        /
        <a href="/login">login</a>
      </div>


      <%= message %>

    </header>

    <main>
      <article>
        <h2>Main Article</h2>
      </article>
      <article>
        <h4>Article</h4>
      </article>
      <article>
        <h4>Article</h4>
      </article>
      <article>
        <h4>Article</h4>
      </article>
    </main>

    <aside>
      more articles
    </aside>
  </body>
</html>