body {
    background-color: rgb(230, 230, 230);
    margin: 5rem 0 0 0;
    height: 45rem;
}

.nav {
    position: fixed;
    border-bottom: 1px solid black;
    width: 100%;
    top: 0;
    background-color: white;
}
  
.nav-header {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
  
.nav-left {
    width: 33.333%;
    text-align: left;
    padding: 15px;
}
  
.nav-center {
    width: 33.333%;
    text-align: center;
}
  
.nav-right {
    width: 60%;
    text-align: right; 
}

a {
    text-decoration: none;
    color: black;
}

.nav-link {
    margin-left: 3%;
    text-transform: uppercase;
}
  
.nav-link:hover {
    color: dodgerblue;
    cursor: pointer;
}

.login {
    font-size: 80%;
}

#wandrlst:hover {
    color: black;
}

.hamburger-menu {
    width: 40px;
    height: 25px;
    position: relative;
    margin: 0 15% 0 auto;
    z-index: 2; 
    display: none;
}
  
.bar {
    display: block; 
    position: absolute;
    width: 25px;
    height: 3px;
    left: 0;
    border-radius: 6px;
    background-color: black;
    transition: all .50s ease-in-out;
}
  
.bar:nth-child(1) {
    top: 0px;
}
  
.bar:nth-child(2) {
    top: 22%
}
  
.bar:nth-child(3) {
    top: 46%;
}
  
.open > .bar {
    transition: all .50s ease-in-out;
    background-color: white;
}
  
.open > .bar:nth-child(1) {
    top: 46%;
    transform: rotate(135deg);
}
  
.open > .bar:nth-child(2) {
    left: -60px;
    opacity: 0;
}
  
.open > .bar:nth-child(3) {
    transform: rotate(-135deg);
}
  
.overlay {
    height: 100%;
    width: 40%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.698);
    top: 0;
    right: -123rem;
    z-index: 1;
    transition: all .60s ease-in-out;
}
  
.overlay.show {
    right: 0;
}
  
.overlay-content {
    display: flex;
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
}
  
.overlay-link {
    color: white;
    text-decoration: none;
    font-size: 36px;
}

.overlay-login a {
    font-size: 24px;
}
  
@media (max-width: 822px) {
    .hamburger-menu {
      display: block;
    }
    .nav-right > a {
      display: none;
    }
    .nav-right > .login {
      display: none;
    }
}

img {
    max-width: 600px;
    max-height: 600px;
}

.container {
    display: flex;
    width: 100%;
    align-content: space-around;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
}

.article-container {
    height: 575px;
}

.featured {
    height: 400px;
    background-image: url("/images/splash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    font-size: 2.5em;
    color: white;
    text-align: center;
}

.welcome {
    position: relative;
    top: 44%;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .9;
}

.article-previews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3px;
}

.index-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 11.5%;
    margin-right: 11.5%;
    padding: 2px;
}

.photo-container {
    height: 200px;
    display: inline-flex;
    justify-content: space-evenly;
} 

.photo-container img {
    height: 150px;
}

.preview {
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-top: 3px;
    width: 225px;
    height: 150px;
    background: rgba(255, 255, 255, .6);
    border: 2px solid dimgray;
    overflow: auto;
    clear: both;
}

.preview:hover {
    opacity: .95;
    background: white;
}

hr {
    color: dimgray;
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-index {
    padding: 5px 5px 0px 5px;
}

.img-index img {
    height: 200px;
}

.add-button {
    margin-right: 11.5%;
    padding: 2px 10px;
    align-self: flex-end;
}

.button {
    border: none;
    background: none;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.photo-text {
    display: flex;
    align-self: flex-start;
    margin-left: 15%;
    padding: 2px;
}

.edit {
    margin-right: 11.5%;
    padding: 0 10px;
    align-self: flex-end;
}

.articles-index{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 11.5%;
    height: 1vhm;
}

.article-views-list {
    display: flex;
    flex-direction: column;
    width: 75%;

}

.article-views {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, .4);
    border: solid rgba(0, 0, 0, 0.65);
    border-width: thin;
    padding: 4px;   
    margin: 4px;
    height: 5rem;
    overflow: auto;
    clear: both;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
    border-width: thin;
    padding: 2px;
}

.author {
    margin-right: 15%;
}

.article-aside {
    width: 156px;
    overflow: auto;
    clear: both;
}

.article-list {
    list-style-type: none;
    flex-wrap: nowrap;
}

.article-show {
    display: flex;
    margin: 0 11.5%;
    flex-direction: column;
    justify-items: center;
}

.article-title {
    display: flex;
    max-width: 84%;
    margin: 10px 0 5px 8%;
    padding-bottom: 5px;
    align-items: center;
    flex-direction: row;
    border-bottom: thin solid rgba(0, 0, 0, 0.65);
}

.title-left {
    width: 33.333%;
    text-align: left;
    padding: 8px 0 0 15px;
}

.title-center {
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.title-right {
    width: 33.333%;
    text-align: right;
    text-transform: capitalize;
    padding-top: 7px;
}

.article-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.article-body {
   text-align: justify;
   padding-bottom: 10px;
}
.author {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 40%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.login-modal{
    width: 25%;
    height: 33%;
}