<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <header>
      <h1>Articles</h1>

    </header>

    <main>
        <form action="/articles" method="POST">
          <input type="text" name="title" placeholder="Title"/><br><br>
          <input type="text" name="location" placeholder="Location"/><br><br>
          <textarea name="body"/></textarea><br>
          <button type="submit">Create Article</button>
        </form>
    </main>

    <aside>
        my articles
    </aside>
    </body>
</html>