<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <header>
      <h1>Articles</h1>

    </header>

    <main>
        Article Stuff
    </main>

    <aside>
        my article
    </aside>
    </body>
</html>